{% extends 'base.html' %}

{% block content %}
<style>
    .closet-image {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
</style>

<div class="box m-5">
    <div class="level">
        <div class="level-left">
            <p class="is-size-1 mb-4 has-text-weight-extrabold">내 옷장</p>
        </div>

        <div class="level-right">
            <label for="logout">{{user}}님으로 로그인됨</label>
            <button class="button is-danger" id="logout" onclick="proceedLogout()">로그아웃</button>
        </div>
    </div>
    <hr />
    <div class="field is-grouped mb-3" style="overflow-x: auto;">
        <a href="/closet" id="type-all" class="button {% if btn_ctrl[0] == True %} is-primary {% endif %}">전체</a>
        <a href="/closet?type=상의" id="type-upper" class="button {% if btn_ctrl[1] == True %} is-primary {% endif %}">상의</a>
        <a href="/closet?type=하의" id="type-lower" class="button {% if btn_ctrl[2] == True %} is-primary {% endif %}">하의</a>
        <a href="/closet?type=외투" id="type-outer" class="button {% if btn_ctrl[3] == True %} is-primary {% endif %}">외투</a>
        <a href="/closet?type=신발" id="type-shoes" class="button {% if btn_ctrl[4] == True %} is-primary {% endif %}">신발</a>
        <a href="/closet?type=악세서리" id="type-acces" class="button {% if btn_ctrl[5] == True %} is-primary {% endif %}">악세서리</a>
    </div>
    <div id="closets-grid" class="fixed-grid has-2-cols">
        <div class="grid">
            {% for item in items %}
            <div class="cell">
                <div class="box">
                    <img src="{{ item['image_url'] }}" class="closet-image">
                    <hr />
                    <p class="is-size-3 has-text-weight-bold mb-3">
                        {{ item['name'] }}
                    </p>
                    <p class="mb-3">
                        {{ item['type'] }}
                    </p>
                    <p class="mb-3">
                        {{ item['price'] }}원, 착용 횟수: {{ item['wear_count'] }}회
                    </p>
                    <a href="{{ url_for('closet.get_item', item_id=item['_id']) }}"><u>상세정보 보러가기</u></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/auth.js') }}"></script> 
<script src="{{ url_for('static', filename='js/closet.js') }}"></script>
{% endblock %}
