{% extends 'base.html' %}

{% block content %}
<div class="box m-5">
    <p class="is-size-1 has-text-weight-extrabold">옷 등록</p>
    <hr />
    <div class="field">
        <div class="columns">
            <div class="column is-narrow" style="width: 150px">
                <div class="field">
                    <label for="clothpic" class="label">옷 사진 선택</label>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="control">
                        <input id="clothpic" class="input" type="file" accept="image/*" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="columns">
            <div class="column is-narrow" style="width: 150px">
                <div class="field">
                    <label for="name" class="label">상품명</label>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="control">
                        <input id="name" class="input" type="text" placeholder="상품명 입력" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="columns">
            <div class="column is-narrow" style="width: 150px">
                <div class="field">
                    <label for="brand" class="label">브랜드</label>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="control">
                        <input id="brand" class="input" type="text" placeholder="브랜드명 입력 (예시: 나이키)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="columns">
            <div class="column is-narrow" style="width: 150px">
                <div class="field">
                    <label for="buydate" class="label">구매한 날짜</label>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="control">
                        <input id="buydate" class="input" type="date" min="2000-1-1" max="2999-12-31" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="columns">
            <div class="column is-narrow" style="width: 150px">
                <div class="field">
                    <label for="buymethod" class="label">구매한 장소</label>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="control">
                        <input id="buymethod" class="input" type="text" placeholder="어디서 샀는지 (예시: 무신사)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="columns">
            <div class="column is-narrow" style="width: 150px">
                <div class="field">
                    <label for="price" class="label">옷 가격</label>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="control">
                        <input id="price" class="input" type="number" placeholder="천원 단위" step="1000" min="0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="columns">
            <div class="column is-narrow" style="width: 150px">
                <div class="field">
                    <label for="season" class="label">시즌</label>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="select">
                        <select id="season">
                            <option value="SS">SS</option>
                            <option value="AW">AW</option>
                            <option value="FW">FW</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="columns">
            <div class="column is-narrow" style="width: 150px">
                <div class="field">
                    <label for="clothtype" class="label">종류</label>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="select" >
                        <select id="clothtype">
                            <option value="상의">상의</option>
                            <option value="하의">하의</option>
                            <option value="외투">외투</option>
                            <option value="신발">신발</option>
                            <option value="액세서리">액세서리</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="columns">
            <div class="column is-narrow" style="width: 150px">
                <div class="field">
                    <label for="clothsize" class="label">사이즈</label>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="select" >
                        <select id="clothsize">
                            <option value="FREE">FREE</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="button is-primary" onclick="register()">등록하기</button>
</div>

<script src="{{ url_for('static', filename='js/closet.js') }}"></script>

{% endblock %}
